

<body>
  <header>
    <h1>Compiladores</h1>
  </header>

  <nav>
      <ul>
        <li><a href="#">Trabalho 1</a></li>
        <li><a href="#">Trabalho 2</a></li>
        <li><a href="#">Trabalho 3</a></li>
      </ul>
  </nav>

  <article>
    <h2>Posfixa</h2>
    <input #expressao
      (keyup.enter) = "converterInfixa(expressao.value); expressao.value = ''"
      (blur) = "converterInfixa(expressao.value); expressao.value = ''">


    <button (click)="converterInfixa(expressao.value)">Converter</button>
    <br>
    <br>
    <label> Resultado: {{ posfixa }} </label>
  </article>
</body>
